@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.aboutgift {
    width: 100%;
    padding: 78px 0px;
}

.aboutgift img {
    height: auto;
    width: 420px;
}

.about-text {
    width: 550px;
}

.main-2 {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: #161616;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: #161616;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span {
    color: #f9004d;
}