@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.about {
    width: 100%;
    /* padding: 78px 10px; */
    background-color: #161616;
}

.about img {
    height: auto;
    width: auto;
}