@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.aboutgift {
    width: 100%;
    padding: 78px 0px;
    background-color: #;
}

.aboutgift img {
    height: auto;
    width: 420px;
}

.about-text {
    width: 550px;
}

.main-2 {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}