.imgcarousle {
    position: relative;
    align-items: center;
    min-height: 600px;
    max-height: 600px;
    background: black;
    border: 10px solid black;
}

img {
    max-height: 600px;
    align-items: center;
    align-content: center;
}

'home-caraousle{}