.imgcarousle {
    align-items: center;
    margin-top: 40px;
    padding: 20px 20px;
    min-height: 600px;
    max-height: 600px;
    background: black;
}

img {
    /* position: relative; */
    max-height: 600px;
    align-items: center;
    align-content: center;
}