.imgcarousle {
    margin-top: 50px;
    margin-bottom: 50px;
    max-height: 600px;
    background: black;
    border: 20px solid rgb;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

img {
    max-height: 550px;
    margin: auto;
    display: block;
}