* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-head {
    margin-bottom: 60px;
}

.section-head h4 {
    position: relative;
    padding: 0;
    color: #1abc9c;
    line-height: 1;
    letter-spacing: 0.3px;
}